.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__notification {
    display: flex;
    align-items: center;
  }

  &__avatar {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__avatar-frame {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
